@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&family=Dancing+Script:wght@400;700&family=Ubuntu:ital,wght@1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7,26.8%,83.9);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.__responsive-container {
  @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 bg-black 
  justify-center gap-5 lg:gap-7 lg:px-8 px-4 py-4
}

.__main-container {
 @apply bg-black min-h-screen
}


/* *
Pokemon Types bg
*/
.grass {
 @apply bg-gradient-to-r w-full from-[#00ff87] to-[#60efff]
}

.fire {
  @apply  bg-gradient-to-r w-full from-[#f3696e] to-[#f4762d]
}

.water {
  @apply bg-gradient-to-r w-full from-[#6fe3e1] to-[#5257e5]

}

.ice {
  @apply bg-gradient-to-r w-full from-[#6fe3e1] to-[#5257e5]
}

.electric {
  @apply bg-gradient-to-r w-full from-[#ff930f] to-[#fff95b]
}

.bug {
  @apply bg-gradient-to-r w-full from-[#51c26f] to-[#103783]
}

.ground {
  @apply bg-gradient-to-r w-full from-[#beb15b] to-[#d5cfac]
}

.normal {
  @apply bg-gradient-to-r w-full from-[#f6c4ed] to-[#facefb]
}

/* .poison {
  @apply bg-gradient-to-r w-full from-[#30c5d2] to-[#471069]
} */

.fighting {
  @apply bg-gradient-to-r w-full from-[#6274e7] to-[#8752a3]
}

.psychic {
  @apply bg-gradient-to-r w-full from-[#858e96] to-[#60696b]
}

.fairy {
  @apply bg-gradient-to-r w-full from-[#51c26f] to-[#f2e901]
}